@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #81c644;
    font-family: 'josefin Sans', sans-serif;
}

.wrapper{
    margin-top: 5%;

}

.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.wrapper .userInfo{
    display: flex;
    text-align: center;
    width: auto;
}

.wrapper .navigationTab{
    background-color: blueviolet;
    width: 10%;
    float: right;
}